<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (danhMucLoaiTaiSan()) {
      <div>
        <h2 data-cy="danhMucLoaiTaiSanDetailsHeading">
          <span jhiTranslate="gatewayApp.danhMucLoaiTaiSan.detail.title">Danh Muc Loai Tai San</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ danhMucLoaiTaiSan()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucLoaiTaiSan.idLoaiTs">Id Loai Ts</span></dt>
          <dd>
            <span>{{ danhMucLoaiTaiSan()!.idLoaiTs }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucLoaiTaiSan.dienGiai">Dien Giai</span></dt>
          <dd>
            <span>{{ danhMucLoaiTaiSan()!.dienGiai }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucLoaiTaiSan.trangThai">Trang Thai</span></dt>
          <dd>
            <span>{{ danhMucLoaiTaiSan()!.trangThai }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucLoaiTaiSan.searchStr">Search Str</span></dt>
          <dd>
            <span>{{ danhMucLoaiTaiSan()!.searchStr }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/danh-muc-loai-tai-san', danhMucLoaiTaiSan()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
