<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-danh-muc-quoc-gia-heading"
        data-cy="DanhMucQuocGiaCreateUpdateHeading"
        jhiTranslate="gatewayApp.danhMucQuocGia.home.createOrEditLabel"
      >
        Thêm mới hoặc cập nhật Danh Muc Quoc Gia
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.danhMucQuocGia.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_idQuocGia" jhiTranslate="gatewayApp.danhMucQuocGia.idQuocGia">Id Quoc Gia</label>
          <input type="number" class="form-control" name="idQuocGia" id="field_idQuocGia" data-cy="idQuocGia" formControlName="idQuocGia" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tenQuocGia" jhiTranslate="gatewayApp.danhMucQuocGia.tenQuocGia">Ten Quoc Gia</label>
          <input
            type="text"
            class="form-control"
            name="tenQuocGia"
            id="field_tenQuocGia"
            data-cy="tenQuocGia"
            formControlName="tenQuocGia"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tenTiengAnh" jhiTranslate="gatewayApp.danhMucQuocGia.tenTiengAnh">Ten Tieng Anh</label>
          <input
            type="text"
            class="form-control"
            name="tenTiengAnh"
            id="field_tenTiengAnh"
            data-cy="tenTiengAnh"
            formControlName="tenTiengAnh"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
