<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-danh-muc-dau-so-cmnd-heading"
        data-cy="DanhMucDauSoCmndCreateUpdateHeading"
        jhiTranslate="gatewayApp.danhMucDauSoCmnd.home.createOrEditLabel"
      >
        Thêm mới hoặc cập nhật Danh Muc Dau So Cmnd
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.danhMucDauSoCmnd.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_idDauSo" jhiTranslate="gatewayApp.danhMucDauSoCmnd.idDauSo">Id Dau So</label>
          <input type="number" class="form-control" name="idDauSo" id="field_idDauSo" data-cy="idDauSo" formControlName="idDauSo" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dauSo" jhiTranslate="gatewayApp.danhMucDauSoCmnd.dauSo">Dau So</label>
          <input type="text" class="form-control" name="dauSo" id="field_dauSo" data-cy="dauSo" formControlName="dauSo" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tinhThanh" jhiTranslate="gatewayApp.danhMucDauSoCmnd.tinhThanh">Tinh Thanh</label>
          <input type="text" class="form-control" name="tinhThanh" id="field_tinhThanh" data-cy="tinhThanh" formControlName="tinhThanh" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_idLoai" jhiTranslate="gatewayApp.danhMucDauSoCmnd.idLoai">Id Loai</label>
          <input type="number" class="form-control" name="idLoai" id="field_idLoai" data-cy="idLoai" formControlName="idLoai" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
