<div>
  <h2 id="page-heading" data-cy="DmNoiCapGpdkxHeading">
    <span jhiTranslate="gatewayApp.dmNoiCapGpdkx.home.title">Dm Noi Cap Gpdkxes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.dmNoiCapGpdkx.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dm-noi-cap-gpdkx"
        [routerLink]="['/dm-noi-cap-gpdkx/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.dmNoiCapGpdkx.home.createLabel">Thêm mới một Dm Noi Cap Gpdkx</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (dmNoiCapGpdkxes?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.dmNoiCapGpdkx.home.notFound">No Dm Noi Cap Gpdkxes found</span>
    </div>
  }

  @if (dmNoiCapGpdkxes && dmNoiCapGpdkxes.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idNoiCap">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmNoiCapGpdkx.idNoiCap">Id Noi Cap</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dienGiai">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmNoiCapGpdkx.dienGiai">Dien Giai</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idDonVi">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmNoiCapGpdkx.idDonVi">Id Don Vi</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="trangThai">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmNoiCapGpdkx.trangThai">Trang Thai</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (dmNoiCapGpdkx of dmNoiCapGpdkxes; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/dm-noi-cap-gpdkx', dmNoiCapGpdkx.id, 'view']">{{ dmNoiCapGpdkx.id }}</a>
              </td>
              <td>{{ dmNoiCapGpdkx.idNoiCap }}</td>
              <td>{{ dmNoiCapGpdkx.dienGiai }}</td>
              <td>{{ dmNoiCapGpdkx.idDonVi }}</td>
              <td>{{ dmNoiCapGpdkx.trangThai }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/dm-noi-cap-gpdkx', dmNoiCapGpdkx.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                  </a>

                  <a
                    [routerLink]="['/dm-noi-cap-gpdkx', dmNoiCapGpdkx.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
                  </a>

                  <button type="submit" (click)="delete(dmNoiCapGpdkx)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
