@if (thongTinChungHopDong) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(thongTinChungHopDong.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="thongTinChungHopDongDeleteDialogHeading" jhiTranslate="entity.delete.title">
        Xác nhận hành động xóa
      </h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p
        id="jhi-delete-thongTinChungHopDong-heading"
        jhiTranslate="gatewayApp.thongTinChungHopDong.delete.question"
        [translateValues]="{ id: thongTinChungHopDong.id }"
      >
        Bạn có chắc là muốn xóa Thong Tin Chung Hop Dong {{ thongTinChungHopDong.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
      </button>

      <button id="jhi-confirm-delete-thongTinChungHopDong" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Xóa</span>
      </button>
    </div>
  </form>
}
