<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (taiSanDgc()) {
      <div>
        <h2 data-cy="taiSanDgcDetailsHeading"><span jhiTranslate="gatewayApp.taiSanDgc.detail.title">Tai San Dgc</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ taiSanDgc()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.idTaiSan">Id Tai San</span></dt>
          <dd>
            <span>{{ taiSanDgc()!.idTaiSan }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.tenTaiSan">Ten Tai San</span></dt>
          <dd>
            <span>{{ taiSanDgc()!.tenTaiSan }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.trangThai">Trang Thai</span></dt>
          <dd>
            <span>{{ taiSanDgc()!.trangThai }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.thongTinTs">Thong Tin Ts</span></dt>
          <dd>
            <span>{{ taiSanDgc()!.thongTinTs }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.idLoaiTs">Id Loai Ts</span></dt>
          <dd>
            <span>{{ taiSanDgc()!.idLoaiTs }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.ghiChu">Ghi Chu</span></dt>
          <dd>
            <span>{{ taiSanDgc()!.ghiChu }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.ngayThaoTac">Ngay Thao Tac</span></dt>
          <dd>
            <span>{{ taiSanDgc()!.ngayThaoTac | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.nguoiThaoTac">Nguoi Thao Tac</span></dt>
          <dd>
            <span>{{ taiSanDgc()!.nguoiThaoTac }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.idDuongSu">Id Duong Su</span></dt>
          <dd>
            <span>{{ taiSanDgc()!.idDuongSu }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.idTsGoc">Id Ts Goc</span></dt>
          <dd>
            <span>{{ taiSanDgc()!.idTsGoc }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.maTaiSan">Ma Tai San</span></dt>
          <dd>
            <span>{{ taiSanDgc()!.maTaiSan }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.idTinhTrang">Id Tinh Trang</span></dt>
          <dd>
            <span>{{ taiSanDgc()!.idTinhTrang }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.idLoaiNganChan">Id Loai Ngan Chan</span></dt>
          <dd>
            <span>{{ taiSanDgc()!.idLoaiNganChan }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.ngayBdNganChan">Ngay Bd Ngan Chan</span></dt>
          <dd>
            <span>{{ taiSanDgc()!.ngayBdNganChan | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.ngayKtNganChan">Ngay Kt Ngan Chan</span></dt>
          <dd>
            <span>{{ taiSanDgc()!.ngayKtNganChan | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.idMaster">Id Master</span></dt>
          <dd>
            <span>{{ taiSanDgc()!.idMaster }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.strSearch">Str Search</span></dt>
          <dd>
            <span>{{ taiSanDgc()!.strSearch }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.idDonVi">Id Don Vi</span></dt>
          <dd>
            <span>{{ taiSanDgc()!.idDonVi }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.soHsCv">So Hs Cv</span></dt>
          <dd>
            <span>{{ taiSanDgc()!.soHsCv }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.soCc">So Cc</span></dt>
          <dd>
            <span>{{ taiSanDgc()!.soCc }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.soVaoSo">So Vao So</span></dt>
          <dd>
            <span>{{ taiSanDgc()!.soVaoSo }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.moTa">Mo Ta</span></dt>
          <dd>
            <span>{{ taiSanDgc()!.moTa }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/tai-san-dgc', taiSanDgc()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
