<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (menuQuyen()) {
      <div>
        <h2 data-cy="menuQuyenDetailsHeading"><span jhiTranslate="gatewayApp.menuQuyen.detail.title">Menu Quyen</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ menuQuyen()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.menuQuyen.idQuyen">Id Quyen</span></dt>
          <dd>
            <span>{{ menuQuyen()!.idQuyen }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.menuQuyen.idDonVi">Id Don Vi</span></dt>
          <dd>
            <span>{{ menuQuyen()!.idDonVi }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.menuQuyen.listMenu">List Menu</span></dt>
          <dd>
            <span>{{ menuQuyen()!.listMenu }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/menu-quyen', menuQuyen()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
