<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (danhMucXa()) {
      <div>
        <h2 data-cy="danhMucXaDetailsHeading"><span jhiTranslate="gatewayApp.danhMucXa.detail.title">Danh Muc Xa</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ danhMucXa()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucXa.maXa">Ma Xa</span></dt>
          <dd>
            <span>{{ danhMucXa()!.maXa }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucXa.tenXa">Ten Xa</span></dt>
          <dd>
            <span>{{ danhMucXa()!.tenXa }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucXa.trangThai">Trang Thai</span></dt>
          <dd>
            <span>{{ danhMucXa()!.trangThai }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucXa.maHuyen">Ma Huyen</span></dt>
          <dd>
            @if (danhMucXa()!.maHuyen) {
              <div>
                <a [routerLink]="['/danh-muc-huyen', danhMucXa()!.maHuyen?.id, 'view']">{{ danhMucXa()!.maHuyen?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/danh-muc-xa', danhMucXa()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
