<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (menu()) {
      <div>
        <h2 data-cy="menuDetailsHeading"><span jhiTranslate="gatewayApp.menu.detail.title">Menu</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ menu()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.menu.idMenu">Id Menu</span></dt>
          <dd>
            <span>{{ menu()!.idMenu }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.menu.tenMenu">Ten Menu</span></dt>
          <dd>
            <span>{{ menu()!.tenMenu }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.menu.idMenuCha">Id Menu Cha</span></dt>
          <dd>
            <span>{{ menu()!.idMenuCha }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.menu.path">Path</span></dt>
          <dd>
            <span>{{ menu()!.path }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.menu.icon">Icon</span></dt>
          <dd>
            <span>{{ menu()!.icon }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.menu.stt">Stt</span></dt>
          <dd>
            <span>{{ menu()!.stt }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.menu.trangThai">Trang Thai</span></dt>
          <dd>
            <span>{{ menu()!.trangThai }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.menu.idLoaiMenu">Id Loai Menu</span></dt>
          <dd>
            <span>{{ menu()!.idLoaiMenu }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/menu', menu()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
