<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-danh-muc-faq-heading" data-cy="DanhMucFaqCreateUpdateHeading" jhiTranslate="gatewayApp.danhMucFaq.home.createOrEditLabel">
        Thêm mới hoặc cập nhật Danh Muc Faq
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.danhMucFaq.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_idCauHoi" jhiTranslate="gatewayApp.danhMucFaq.idCauHoi">Id Cau Hoi</label>
          <input type="number" class="form-control" name="idCauHoi" id="field_idCauHoi" data-cy="idCauHoi" formControlName="idCauHoi" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_noiDung" jhiTranslate="gatewayApp.danhMucFaq.noiDung">Noi Dung</label>
          <input type="text" class="form-control" name="noiDung" id="field_noiDung" data-cy="noiDung" formControlName="noiDung" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cauTraLoi" jhiTranslate="gatewayApp.danhMucFaq.cauTraLoi">Cau Tra Loi</label>
          <input type="text" class="form-control" name="cauTraLoi" id="field_cauTraLoi" data-cy="cauTraLoi" formControlName="cauTraLoi" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_loai" jhiTranslate="gatewayApp.danhMucFaq.loai">Loai</label>
          <input type="number" class="form-control" name="loai" id="field_loai" data-cy="loai" formControlName="loai" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
