<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-cau-hinh-thong-tin-loai-tai-san-heading"
        data-cy="CauHinhThongTinLoaiTaiSanCreateUpdateHeading"
        jhiTranslate="gatewayApp.cauHinhThongTinLoaiTaiSan.home.createOrEditLabel"
      >
        Thêm mới hoặc cập nhật Cau Hinh Thong Tin Loai Tai San
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.cauHinhThongTinLoaiTaiSan.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_idCauHinh" jhiTranslate="gatewayApp.cauHinhThongTinLoaiTaiSan.idCauHinh">Id Cau Hinh</label>
          <input type="number" class="form-control" name="idCauHinh" id="field_idCauHinh" data-cy="idCauHinh" formControlName="idCauHinh" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_noiDung" jhiTranslate="gatewayApp.cauHinhThongTinLoaiTaiSan.noiDung">Noi Dung</label>
          <input type="text" class="form-control" name="noiDung" id="field_noiDung" data-cy="noiDung" formControlName="noiDung" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_javascript" jhiTranslate="gatewayApp.cauHinhThongTinLoaiTaiSan.javascript">Javascript</label>
          <input
            type="text"
            class="form-control"
            name="javascript"
            id="field_javascript"
            data-cy="javascript"
            formControlName="javascript"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_css" jhiTranslate="gatewayApp.cauHinhThongTinLoaiTaiSan.css">Css</label>
          <input type="text" class="form-control" name="css" id="field_css" data-cy="css" formControlName="css" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_idLoaiTs" jhiTranslate="gatewayApp.cauHinhThongTinLoaiTaiSan.idLoaiTs">Id Loai Ts</label>
          <input type="number" class="form-control" name="idLoaiTs" id="field_idLoaiTs" data-cy="idLoaiTs" formControlName="idLoaiTs" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_idDonVi" jhiTranslate="gatewayApp.cauHinhThongTinLoaiTaiSan.idDonVi">Id Don Vi</label>
          <input type="number" class="form-control" name="idDonVi" id="field_idDonVi" data-cy="idDonVi" formControlName="idDonVi" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_trangThai" jhiTranslate="gatewayApp.cauHinhThongTinLoaiTaiSan.trangThai">Trang Thai</label>
          <input type="number" class="form-control" name="trangThai" id="field_trangThai" data-cy="trangThai" formControlName="trangThai" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_xml" jhiTranslate="gatewayApp.cauHinhThongTinLoaiTaiSan.xml">Xml</label>
          <input type="text" class="form-control" name="xml" id="field_xml" data-cy="xml" formControlName="xml" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
