<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (migrations()) {
      <div>
        <h2 data-cy="migrationsDetailsHeading"><span jhiTranslate="gatewayApp.migrations.detail.title">Migrations</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ migrations()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.migrations.migration">Migration</span></dt>
          <dd>
            <span>{{ migrations()!.migration }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.migrations.batch">Batch</span></dt>
          <dd>
            <span>{{ migrations()!.batch }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/migrations', migrations()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
