<div>
  <h2 id="page-heading" data-cy="MenuHeading">
    <span jhiTranslate="gatewayApp.menu.home.title">Menus</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.menu.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-menu"
        [routerLink]="['/menu/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.menu.home.createLabel">Thêm mới một Menu</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (menus?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.menu.home.notFound">No Menus found</span>
    </div>
  }

  @if (menus && menus.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idMenu">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.menu.idMenu">Id Menu</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tenMenu">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.menu.tenMenu">Ten Menu</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idMenuCha">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.menu.idMenuCha">Id Menu Cha</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="path">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.menu.path">Path</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="icon">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.menu.icon">Icon</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="stt">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.menu.stt">Stt</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="trangThai">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.menu.trangThai">Trang Thai</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idLoaiMenu">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.menu.idLoaiMenu">Id Loai Menu</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (menu of menus; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/menu', menu.id, 'view']">{{ menu.id }}</a>
              </td>
              <td>{{ menu.idMenu }}</td>
              <td>{{ menu.tenMenu }}</td>
              <td>{{ menu.idMenuCha }}</td>
              <td>{{ menu.path }}</td>
              <td>{{ menu.icon }}</td>
              <td>{{ menu.stt }}</td>
              <td>{{ menu.trangThai }}</td>
              <td>{{ menu.idLoaiMenu }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/menu', menu.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                  </a>

                  <a [routerLink]="['/menu', menu.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
                  </a>

                  <button type="submit" (click)="delete(menu)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
