<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-log-thao-tac-heading" data-cy="LogThaoTacCreateUpdateHeading" jhiTranslate="gatewayApp.logThaoTac.home.createOrEditLabel">
        Thêm mới hoặc cập nhật Log Thao Tac
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.logThaoTac.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_idLog" jhiTranslate="gatewayApp.logThaoTac.idLog">Id Log</label>
          <input type="number" class="form-control" name="idLog" id="field_idLog" data-cy="idLog" formControlName="idLog" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dienGiai" jhiTranslate="gatewayApp.logThaoTac.dienGiai">Dien Giai</label>
          <input type="text" class="form-control" name="dienGiai" id="field_dienGiai" data-cy="dienGiai" formControlName="dienGiai" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tenBang" jhiTranslate="gatewayApp.logThaoTac.tenBang">Ten Bang</label>
          <input type="text" class="form-control" name="tenBang" id="field_tenBang" data-cy="tenBang" formControlName="tenBang" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_idKhoa" jhiTranslate="gatewayApp.logThaoTac.idKhoa">Id Khoa</label>
          <input type="text" class="form-control" name="idKhoa" id="field_idKhoa" data-cy="idKhoa" formControlName="idKhoa" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ngayThaoTac" jhiTranslate="gatewayApp.logThaoTac.ngayThaoTac">Ngay Thao Tac</label>
          <div class="input-group">
            <input
              id="field_ngayThaoTac"
              data-cy="ngayThaoTac"
              type="text"
              class="form-control"
              name="ngayThaoTac"
              ngbDatepicker
              #ngayThaoTacDp="ngbDatepicker"
              formControlName="ngayThaoTac"
            />
            <button type="button" class="btn btn-secondary" (click)="ngayThaoTacDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nguoiThaoTac" jhiTranslate="gatewayApp.logThaoTac.nguoiThaoTac">Nguoi Thao Tac</label>
          <input
            type="number"
            class="form-control"
            name="nguoiThaoTac"
            id="field_nguoiThaoTac"
            data-cy="nguoiThaoTac"
            formControlName="nguoiThaoTac"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
