<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (danhMucLoaiVanBan()) {
      <div>
        <h2 data-cy="danhMucLoaiVanBanDetailsHeading">
          <span jhiTranslate="gatewayApp.danhMucLoaiVanBan.detail.title">Danh Muc Loai Van Ban</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ danhMucLoaiVanBan()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucLoaiVanBan.idLoaiVb">Id Loai Vb</span></dt>
          <dd>
            <span>{{ danhMucLoaiVanBan()!.idLoaiVb }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucLoaiVanBan.dienGiai">Dien Giai</span></dt>
          <dd>
            <span>{{ danhMucLoaiVanBan()!.dienGiai }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucLoaiVanBan.idLoaiHopDong">Id Loai Hop Dong</span></dt>
          <dd>
            <span>{{ danhMucLoaiVanBan()!.idLoaiHopDong }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/danh-muc-loai-van-ban', danhMucLoaiVanBan()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
