<div>
  <h2 id="page-heading" data-cy="LogHoaDonDienTuHeading">
    <span jhiTranslate="gatewayApp.logHoaDonDienTu.home.title">Log Hoa Don Dien Tus</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.logHoaDonDienTu.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-log-hoa-don-dien-tu"
        [routerLink]="['/log-hoa-don-dien-tu/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.logHoaDonDienTu.home.createLabel">Thêm mới một Log Hoa Don Dien Tu</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (logHoaDonDienTus?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.logHoaDonDienTu.home.notFound">No Log Hoa Don Dien Tus found</span>
    </div>
  }

  @if (logHoaDonDienTus && logHoaDonDienTus.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idDonVi">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.logHoaDonDienTu.idDonVi">Id Don Vi</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idHopDong">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.logHoaDonDienTu.idHopDong">Id Hop Dong</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fKey">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.logHoaDonDienTu.fKey">F Key</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ketQua">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.logHoaDonDienTu.ketQua">Ket Qua</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="trangThai">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.logHoaDonDienTu.trangThai">Trang Thai</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ngayPhatHanh">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.logHoaDonDienTu.ngayPhatHanh">Ngay Phat Hanh</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (logHoaDonDienTu of logHoaDonDienTus; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/log-hoa-don-dien-tu', logHoaDonDienTu.id, 'view']">{{ logHoaDonDienTu.id }}</a>
              </td>
              <td>{{ logHoaDonDienTu.idDonVi }}</td>
              <td>{{ logHoaDonDienTu.idHopDong }}</td>
              <td>{{ logHoaDonDienTu.fKey }}</td>
              <td>{{ logHoaDonDienTu.ketQua }}</td>
              <td>{{ logHoaDonDienTu.trangThai }}</td>
              <td>{{ logHoaDonDienTu.ngayPhatHanh | formatMediumDate }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/log-hoa-don-dien-tu', logHoaDonDienTu.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                  </a>

                  <a
                    [routerLink]="['/log-hoa-don-dien-tu', logHoaDonDienTu.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
                  </a>

                  <button type="submit" (click)="delete(logHoaDonDienTu)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
