@if (cauHinhThongTinLoaiTaiSan) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(cauHinhThongTinLoaiTaiSan.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="cauHinhThongTinLoaiTaiSanDeleteDialogHeading" jhiTranslate="entity.delete.title">
        Xác nhận hành động xóa
      </h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p
        id="jhi-delete-cauHinhThongTinLoaiTaiSan-heading"
        jhiTranslate="gatewayApp.cauHinhThongTinLoaiTaiSan.delete.question"
        [translateValues]="{ id: cauHinhThongTinLoaiTaiSan.id }"
      >
        Bạn có chắc là muốn xóa Cau Hinh Thong Tin Loai Tai San {{ cauHinhThongTinLoaiTaiSan.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
      </button>

      <button id="jhi-confirm-delete-cauHinhThongTinLoaiTaiSan" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Xóa</span>
      </button>
    </div>
  </form>
}
