<div>
  <h2 id="page-heading" data-cy="DanhMucKeyDanhTuFaqHeading">
    <span jhiTranslate="gatewayApp.danhMucKeyDanhTuFaq.home.title">Danh Muc Key Danh Tu Faqs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.danhMucKeyDanhTuFaq.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-danh-muc-key-danh-tu-faq"
        [routerLink]="['/danh-muc-key-danh-tu-faq/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.danhMucKeyDanhTuFaq.home.createLabel">Thêm mới một Danh Muc Key Danh Tu Faq</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (danhMucKeyDanhTuFaqs?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.danhMucKeyDanhTuFaq.home.notFound">No Danh Muc Key Danh Tu Faqs found</span>
    </div>
  }

  @if (danhMucKeyDanhTuFaqs && danhMucKeyDanhTuFaqs.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idCauHoi">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.danhMucKeyDanhTuFaq.idCauHoi">Id Cau Hoi</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="keyDanhTu">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.danhMucKeyDanhTuFaq.keyDanhTu">Key Danh Tu</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (danhMucKeyDanhTuFaq of danhMucKeyDanhTuFaqs; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/danh-muc-key-danh-tu-faq', danhMucKeyDanhTuFaq.id, 'view']">{{ danhMucKeyDanhTuFaq.id }}</a>
              </td>
              <td>{{ danhMucKeyDanhTuFaq.idCauHoi }}</td>
              <td>{{ danhMucKeyDanhTuFaq.keyDanhTu }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/danh-muc-key-danh-tu-faq', danhMucKeyDanhTuFaq.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                  </a>

                  <a
                    [routerLink]="['/danh-muc-key-danh-tu-faq', danhMucKeyDanhTuFaq.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
                  </a>

                  <button type="submit" (click)="delete(danhMucKeyDanhTuFaq)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
