<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (taisannhadatid()) {
      <div>
        <h2 data-cy="taisannhadatidDetailsHeading"><span jhiTranslate="gatewayApp.taisannhadatid.detail.title">Taisannhadatid</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ taisannhadatid()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taisannhadatid.idTaiSan">Id Tai San</span></dt>
          <dd>
            <span>{{ taisannhadatid()!.idTaiSan }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taisannhadatid.thongTinTs">Thong Tin Ts</span></dt>
          <dd>
            <span>{{ taisannhadatid()!.thongTinTs }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/taisannhadatid', taisannhadatid()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
