<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-danh-muc-loai-so-cong-chung-heading"
        data-cy="DanhMucLoaiSoCongChungCreateUpdateHeading"
        jhiTranslate="gatewayApp.danhMucLoaiSoCongChung.home.createOrEditLabel"
      >
        Thêm mới hoặc cập nhật Danh Muc Loai So Cong Chung
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.danhMucLoaiSoCongChung.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_idLoai" jhiTranslate="gatewayApp.danhMucLoaiSoCongChung.idLoai">Id Loai</label>
          <input type="number" class="form-control" name="idLoai" id="field_idLoai" data-cy="idLoai" formControlName="idLoai" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tenLoai" jhiTranslate="gatewayApp.danhMucLoaiSoCongChung.tenLoai">Ten Loai</label>
          <input type="text" class="form-control" name="tenLoai" id="field_tenLoai" data-cy="tenLoai" formControlName="tenLoai" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_trangThai" jhiTranslate="gatewayApp.danhMucLoaiSoCongChung.trangThai">Trang Thai</label>
          <input type="number" class="form-control" name="trangThai" id="field_trangThai" data-cy="trangThai" formControlName="trangThai" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
