<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (hdccCoTien()) {
      <div>
        <h2 data-cy="hdccCoTienDetailsHeading"><span jhiTranslate="gatewayApp.hdccCoTien.detail.title">Hdcc Co Tien</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ hdccCoTien()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.hdccCoTien.idMaster">Id Master</span></dt>
          <dd>
            <span>{{ hdccCoTien()!.idMaster }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.hdccCoTien.soCongChung">So Cong Chung</span></dt>
          <dd>
            <span>{{ hdccCoTien()!.soCongChung }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.hdccCoTien.soTienRutTrich">So Tien Rut Trich</span></dt>
          <dd>
            <span>{{ hdccCoTien()!.soTienRutTrich }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/hdcc-co-tien', hdccCoTien()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
