<div>
  <h2 id="page-heading" data-cy="LogSearchDsTsHeading">
    <span jhiTranslate="gatewayApp.logSearchDsTs.home.title">Log Search Ds Ts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.logSearchDsTs.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-log-search-ds-ts"
        [routerLink]="['/log-search-ds-ts/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.logSearchDsTs.home.createLabel">Thêm mới một Log Search Ds Ts</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (logSearchDsTs?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.logSearchDsTs.home.notFound">No Log Search Ds Ts found</span>
    </div>
  }

  @if (logSearchDsTs && logSearchDsTs.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idLog">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.logSearchDsTs.idLog">Id Log</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nguoiThaoTac">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.logSearchDsTs.nguoiThaoTac">Nguoi Thao Tac</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ngayThaoTac">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.logSearchDsTs.ngayThaoTac">Ngay Thao Tac</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="noiDung">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.logSearchDsTs.noiDung">Noi Dung</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="slKq">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.logSearchDsTs.slKq">Sl Kq</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="kqSearch">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.logSearchDsTs.kqSearch">Kq Search</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (logSearchDsTs of logSearchDsTs; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/log-search-ds-ts', logSearchDsTs.id, 'view']">{{ logSearchDsTs.id }}</a>
              </td>
              <td>{{ logSearchDsTs.idLog }}</td>
              <td>{{ logSearchDsTs.nguoiThaoTac }}</td>
              <td>{{ logSearchDsTs.ngayThaoTac | formatMediumDate }}</td>
              <td>{{ logSearchDsTs.noiDung }}</td>
              <td>{{ logSearchDsTs.slKq }}</td>
              <td>{{ logSearchDsTs.kqSearch }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/log-search-ds-ts', logSearchDsTs.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                  </a>

                  <a
                    [routerLink]="['/log-search-ds-ts', logSearchDsTs.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
                  </a>

                  <button type="submit" (click)="delete(logSearchDsTs)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
