<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (danhMucCanBo()) {
      <div>
        <h2 data-cy="danhMucCanBoDetailsHeading"><span jhiTranslate="gatewayApp.danhMucCanBo.detail.title">Danh Muc Can Bo</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ danhMucCanBo()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucCanBo.idCanBo">Id Can Bo</span></dt>
          <dd>
            <span>{{ danhMucCanBo()!.idCanBo }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucCanBo.tenCanBo">Ten Can Bo</span></dt>
          <dd>
            <span>{{ danhMucCanBo()!.tenCanBo }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucCanBo.diaChi">Dia Chi</span></dt>
          <dd>
            <span>{{ danhMucCanBo()!.diaChi }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucCanBo.namSinh">Nam Sinh</span></dt>
          <dd>
            <span>{{ danhMucCanBo()!.namSinh | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucCanBo.email">Email</span></dt>
          <dd>
            <span>{{ danhMucCanBo()!.email }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucCanBo.soDienThoai">So Dien Thoai</span></dt>
          <dd>
            <span>{{ danhMucCanBo()!.soDienThoai }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucCanBo.soCmnd">So Cmnd</span></dt>
          <dd>
            <span>{{ danhMucCanBo()!.soCmnd }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucCanBo.tenDangNhap">Ten Dang Nhap</span></dt>
          <dd>
            <span>{{ danhMucCanBo()!.tenDangNhap }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucCanBo.matKhau">Mat Khau</span></dt>
          <dd>
            <span>{{ danhMucCanBo()!.matKhau }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucCanBo.trangThai">Trang Thai</span></dt>
          <dd>
            <span>{{ danhMucCanBo()!.trangThai }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucCanBo.clientId">Client Id</span></dt>
          <dd>
            <span>{{ danhMucCanBo()!.clientId }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucCanBo.clientSecret">Client Secret</span></dt>
          <dd>
            <span>{{ danhMucCanBo()!.clientSecret }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucCanBo.usernameKyso">Username Kyso</span></dt>
          <dd>
            <span>{{ danhMucCanBo()!.usernameKyso }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucCanBo.passwordKyso">Password Kyso</span></dt>
          <dd>
            <span>{{ danhMucCanBo()!.passwordKyso }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/danh-muc-can-bo', danhMucCanBo()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
