<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-danh-muc-tu-viet-tat-heading"
        data-cy="DanhMucTuVietTatCreateUpdateHeading"
        jhiTranslate="gatewayApp.danhMucTuVietTat.home.createOrEditLabel"
      >
        Thêm mới hoặc cập nhật Danh Muc Tu Viet Tat
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.danhMucTuVietTat.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_idVietTat" jhiTranslate="gatewayApp.danhMucTuVietTat.idVietTat">Id Viet Tat</label>
          <input type="number" class="form-control" name="idVietTat" id="field_idVietTat" data-cy="idVietTat" formControlName="idVietTat" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tuVietTat" jhiTranslate="gatewayApp.danhMucTuVietTat.tuVietTat">Tu Viet Tat</label>
          <input type="text" class="form-control" name="tuVietTat" id="field_tuVietTat" data-cy="tuVietTat" formControlName="tuVietTat" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dienGiai" jhiTranslate="gatewayApp.danhMucTuVietTat.dienGiai">Dien Giai</label>
          <input type="text" class="form-control" name="dienGiai" id="field_dienGiai" data-cy="dienGiai" formControlName="dienGiai" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_idDonVi" jhiTranslate="gatewayApp.danhMucTuVietTat.idDonVi">Id Don Vi</label>
          <input type="number" class="form-control" name="idDonVi" id="field_idDonVi" data-cy="idDonVi" formControlName="idDonVi" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nguoiThaoTac" jhiTranslate="gatewayApp.danhMucTuVietTat.nguoiThaoTac">Nguoi Thao Tac</label>
          <input
            type="number"
            class="form-control"
            name="nguoiThaoTac"
            id="field_nguoiThaoTac"
            data-cy="nguoiThaoTac"
            formControlName="nguoiThaoTac"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ngayThaoTac" jhiTranslate="gatewayApp.danhMucTuVietTat.ngayThaoTac">Ngay Thao Tac</label>
          <div class="d-flex">
            <input
              id="field_ngayThaoTac"
              data-cy="ngayThaoTac"
              type="datetime-local"
              class="form-control"
              name="ngayThaoTac"
              formControlName="ngayThaoTac"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_trangThai" jhiTranslate="gatewayApp.danhMucTuVietTat.trangThai">Trang Thai</label>
          <input type="number" class="form-control" name="trangThai" id="field_trangThai" data-cy="trangThai" formControlName="trangThai" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
