<div>
  <h2 id="page-heading" data-cy="TaisanSaiQsddDgcHeading">
    <span jhiTranslate="gatewayApp.taisanSaiQsddDgc.home.title">Taisan Sai Qsdd Dgcs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.taisanSaiQsddDgc.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-taisan-sai-qsdd-dgc"
        [routerLink]="['/taisan-sai-qsdd-dgc/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.taisanSaiQsddDgc.home.createLabel">Thêm mới một Taisan Sai Qsdd Dgc</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (taisanSaiQsddDgcs?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.taisanSaiQsddDgc.home.notFound">No Taisan Sai Qsdd Dgcs found</span>
    </div>
  }

  @if (taisanSaiQsddDgcs && taisanSaiQsddDgcs.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idMaster">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.taisanSaiQsddDgc.idMaster">Id Master</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="noiCapQsdd">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.taisanSaiQsddDgc.noiCapQsdd">Noi Cap Qsdd</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (taisanSaiQsddDgc of taisanSaiQsddDgcs; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/taisan-sai-qsdd-dgc', taisanSaiQsddDgc.id, 'view']">{{ taisanSaiQsddDgc.id }}</a>
              </td>
              <td>{{ taisanSaiQsddDgc.idMaster }}</td>
              <td>{{ taisanSaiQsddDgc.noiCapQsdd }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/taisan-sai-qsdd-dgc', taisanSaiQsddDgc.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                  </a>

                  <a
                    [routerLink]="['/taisan-sai-qsdd-dgc', taisanSaiQsddDgc.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
                  </a>

                  <button type="submit" (click)="delete(taisanSaiQsddDgc)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
