<div>
  <h2 id="page-heading" data-cy="CauHinhHopDongHeading">
    <span jhiTranslate="gatewayApp.cauHinhHopDong.home.title">Cau Hinh Hop Dongs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.cauHinhHopDong.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cau-hinh-hop-dong"
        [routerLink]="['/cau-hinh-hop-dong/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.cauHinhHopDong.home.createLabel">Thêm mới một Cau Hinh Hop Dong</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (cauHinhHopDongs?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.cauHinhHopDong.home.notFound">No Cau Hinh Hop Dongs found</span>
    </div>
  }

  @if (cauHinhHopDongs && cauHinhHopDongs.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idLoaiHopDong">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.cauHinhHopDong.idLoaiHopDong">Id Loai Hop Dong</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idDonVi">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.cauHinhHopDong.idDonVi">Id Don Vi</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="chieuDai">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.cauHinhHopDong.chieuDai">Chieu Dai</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tienTo">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.cauHinhHopDong.tienTo">Tien To</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="giaTri">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.cauHinhHopDong.giaTri">Gia Tri</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hienThi">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.cauHinhHopDong.hienThi">Hien Thi</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="trangThai">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.cauHinhHopDong.trangThai">Trang Thai</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (cauHinhHopDong of cauHinhHopDongs; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/cau-hinh-hop-dong', cauHinhHopDong.id, 'view']">{{ cauHinhHopDong.id }}</a>
              </td>
              <td>{{ cauHinhHopDong.idLoaiHopDong }}</td>
              <td>{{ cauHinhHopDong.idDonVi }}</td>
              <td>{{ cauHinhHopDong.chieuDai }}</td>
              <td>{{ cauHinhHopDong.tienTo }}</td>
              <td>{{ cauHinhHopDong.giaTri }}</td>
              <td>{{ cauHinhHopDong.hienThi }}</td>
              <td>{{ cauHinhHopDong.trangThai }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/cau-hinh-hop-dong', cauHinhHopDong.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                  </a>

                  <a
                    [routerLink]="['/cau-hinh-hop-dong', cauHinhHopDong.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
                  </a>

                  <button type="submit" (click)="delete(cauHinhHopDong)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
