<div>
  <h2 id="page-heading" data-cy="DanhMucLoaiDuongSuHeading">
    <span jhiTranslate="gatewayApp.danhMucLoaiDuongSu.home.title">Danh Muc Loai Duong Sus</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.danhMucLoaiDuongSu.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-danh-muc-loai-duong-su"
        [routerLink]="['/danh-muc-loai-duong-su/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.danhMucLoaiDuongSu.home.createLabel">Thêm mới một Danh Muc Loai Duong Su</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (danhMucLoaiDuongSus?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.danhMucLoaiDuongSu.home.notFound">No Danh Muc Loai Duong Sus found</span>
    </div>
  }

  @if (danhMucLoaiDuongSus && danhMucLoaiDuongSus.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idLoaiDs">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.danhMucLoaiDuongSu.idLoaiDs">Id Loai Ds</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dienGiai">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.danhMucLoaiDuongSu.dienGiai">Dien Giai</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="trangThai">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.danhMucLoaiDuongSu.trangThai">Trang Thai</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="strSearch">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.danhMucLoaiDuongSu.strSearch">Str Search</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (danhMucLoaiDuongSu of danhMucLoaiDuongSus; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/danh-muc-loai-duong-su', danhMucLoaiDuongSu.id, 'view']">{{ danhMucLoaiDuongSu.id }}</a>
              </td>
              <td>{{ danhMucLoaiDuongSu.idLoaiDs }}</td>
              <td>{{ danhMucLoaiDuongSu.dienGiai }}</td>
              <td>{{ danhMucLoaiDuongSu.trangThai }}</td>
              <td>{{ danhMucLoaiDuongSu.strSearch }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/danh-muc-loai-duong-su', danhMucLoaiDuongSu.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                  </a>

                  <a
                    [routerLink]="['/danh-muc-loai-duong-su', danhMucLoaiDuongSu.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
                  </a>

                  <button type="submit" (click)="delete(danhMucLoaiDuongSu)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
