<nav data-cy="navbar" class="navbar navbar-dark navbar-expand-md bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
      <span class="logo-img"></span>
      <span class="navbar-title" jhiTranslate="global.title">Gateway</span>
      <span class="navbar-version">{{ version }}</span>
    </a>
    <a
      class="navbar-toggler d-lg-none"
      href="javascript:void(0);"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed()">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
            <span>
              <fa-icon icon="home"></fa-icon>
              <span jhiTranslate="global.menu.home">Trang chủ</span>
            </span>
          </a>
        </li>
        <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
        @if (account() !== null) {
          <li
            ngbDropdown
            class="nav-item dropdown pointer"
            display="dynamic"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
              <span>
                <fa-icon icon="th-list"></fa-icon>
                <span jhiTranslate="global.menu.entities.main">Thực thể</span>
              </span>
            </a>
            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-muc-can-bo"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhMucCanBo">Danh Muc Can Bo</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-muc-don-vi"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhMucDonVi">Danh Muc Don Vi</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-muc-vai-tro"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhMucVaiTro">Danh Muc Vai Tro</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-muc-loai-van-ban"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhMucLoaiVanBan">Danh Muc Loai Van Ban</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-muc-loai-don-vi"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhMucLoaiDonVi">Danh Muc Loai Don Vi</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/menu"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.menu">Menu</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/quyen"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.quyen">Quyen</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/can-bo-quyen"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.canBoQuyen">Can Bo Quyen</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/log-dang-nhap"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.logDangNhap">Log Dang Nhap</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/log-thao-tac"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.logThaoTac">Log Thao Tac</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-muc-tinh"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhMucTinh">Danh Muc Tinh</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-muc-huyen"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhMucHuyen">Danh Muc Huyen</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-muc-xa"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhMucXa">Danh Muc Xa</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/tinh-trang-duong-su"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.tinhTrangDuongSu">Tinh Trang Duong Su</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/tinh-trang-tai-san"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.tinhTrangTaiSan">Tinh Trang Tai San</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-muc-the-html"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhMucTheHtml">Danh Muc The Html</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/cau-hinh-hop-dong"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.cauHinhHopDong">Cau Hinh Hop Dong</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-muc-cap-quan-ly"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhMucCapQuanLy">Danh Muc Cap Quan Ly</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/user-online"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.userOnline">User Online</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/so-cong-chung"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.soCongChung">So Cong Chung</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/tai-san-duong-su"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.taiSanDuongSu">Tai San Duong Su</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-muc-dau-so-cmnd"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhMucDauSoCmnd">Danh Muc Dau So Cmnd</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/loai-hop-dong-cong-chung"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.loaiHopDongCongChung">Loai Hop Dong Cong Chung</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/cau-hinh-hoa-don-dien-tu"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.cauHinhHoaDonDienTu">Cau Hinh Hoa Don Dien Tu</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-muc-dich-vu"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhMucDichVu">Danh Muc Dich Vu</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/log-hoa-don-dien-tu"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.logHoaDonDienTu">Log Hoa Don Dien Tu</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-muc-ngon-ngu"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhMucNgonNgu">Danh Muc Ngon Ngu</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/so-lan-hoi-faq"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.soLanHoiFaq">So Lan Hoi Faq</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-muc-key-danh-tu-faq"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhMucKeyDanhTuFaq">Danh Muc Key Danh Tu Faq</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-muc-key-dong-tu-faq"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhMucKeyDongTuFaq">Danh Muc Key Dong Tu Faq</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/fileid-drive"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.fileidDrive">Fileid Drive</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/taisan-sai-qsdd-dgc"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.taisanSaiQsddDgc">Taisan Sai Qsdd Dgc</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/hd-master-co-ccv"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.hdMasterCoCcv">Hd Master Co Ccv</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/hd-master-tc-co-ccv"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.hdMasterTcCoCcv">Hd Master Tc Co Ccv</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/hdcc-co-tien"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.hdccCoTien">Hdcc Co Tien</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-muc-loai-so-cong-chung"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhMucLoaiSoCongChung">Danh Muc Loai So Cong Chung</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/quan-he-master"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.quanHeMaster">Quan He Master</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/taisannhadatid"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.taisannhadatid">Taisannhadatid</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/migrations"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.migrations">Migrations</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/users"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.users">Users</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/lich-su-giao-dich"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.lichSuGiaoDich">Lich Su Giao Dich</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-muc-file-upload-kyso"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhMucFileUploadKyso">Danh Muc File Upload Kyso</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/duong-su"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.duongSu">Duong Su</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/tai-san"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.taiSan">Tai San</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/van-ban"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.vanBan">Van Ban</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/hop-dong-cong-chung"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.hopDongCongChung">Hop Dong Cong Chung</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-muc-loai-hop-dong"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhMucLoaiHopDong">Danh Muc Loai Hop Dong</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-muc-loai-tai-san"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhMucLoaiTaiSan">Danh Muc Loai Tai San</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/menu-quyen"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.menuQuyen">Menu Quyen</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-muc-tinh-trang-hon-nhan"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhMucTinhTrangHonNhan">Danh Muc Tinh Trang Hon Nhan</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-muc-quoc-gia"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhMucQuocGia">Danh Muc Quoc Gia</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/cau-hinh-thong-tin-loai-tai-san"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.cauHinhThongTinLoaiTaiSan">Cau Hinh Thong Tin Loai Tai San</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/cau-hinh-thong-tin-duong-su"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.cauHinhThongTinDuongSu">Cau Hinh Thong Tin Duong Su</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-muc-loai-duong-su"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhMucLoaiDuongSu">Danh Muc Loai Duong Su</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/quan-he-duong-su"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.quanHeDuongSu">Quan He Duong Su</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/quan-he-nhan-than"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.quanHeNhanThan">Quan He Nhan Than</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-muc-nhom-hop-dong"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhMucNhomHopDong">Danh Muc Nhom Hop Dong</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-muc-tu-viet-tat"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhMucTuVietTat">Danh Muc Tu Viet Tat</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-muc-loai-giay-to"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhMucLoaiGiayTo">Danh Muc Loai Giay To</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/so-huu-theo"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.soHuuTheo">So Huu Theo</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-muc-noi-cap-qsh"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhMucNoiCapQsh">Danh Muc Noi Cap Qsh</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/noi-cap-gttt"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.noiCapGttt">Noi Cap Gttt</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/dm-noi-cap-gpdkx"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.dmNoiCapGpdkx">Dm Noi Cap Gpdkx</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-muc-ngoai-te"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhMucNgoaiTe">Danh Muc Ngoai Te</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/phan-loai-hop-dong"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.phanLoaiHopDong">Phan Loai Hop Dong</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/cau-hinh-mau-hop-dong"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.cauHinhMauHopDong">Cau Hinh Mau Hop Dong</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-muc-faq"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhMucFaq">Danh Muc Faq</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/log-download-file-drive"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.logDownloadFileDrive">Log Download File Drive</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/duong-su-trung-cmnd"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.duongSuTrungCmnd">Duong Su Trung Cmnd</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/chi-tiet-ngan-chan"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.chiTietNganChan">Chi Tiet Ngan Chan</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/hd-tc-master"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.hdTcMaster">Hd Tc Master</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/thong-tin-chung-hop-dong"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.thongTinChungHopDong">Thong Tin Chung Hop Dong</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/tai-san-dgc"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.taiSanDgc">Tai San Dgc</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/taisan-sai-dgc"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.taisanSaiDgc">Taisan Sai Dgc</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/thua-tach"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.thuaTach">Thua Tach</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/tai-san-dat-nha"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.taiSanDatNha">Tai San Dat Nha</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-sach-hop-dong"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhSachHopDong">Danh Sach Hop Dong</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-sach-duong-su"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhSachDuongSu">Danh Sach Duong Su</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danh-sach-tai-san"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhSachTaiSan">Danh Sach Tai San</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/danhsach-ds-nganchan-tmp"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.danhsachDsNganchanTmp">Danhsach Ds Nganchan Tmp</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/log-search-ds-ts"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.logSearchDsTs">Log Search Ds Ts</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/log-lien-thong-mot-cua"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="collapseNavbar()"
                >
                  <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.entities.logLienThongMotCua">Log Lien Thong Mot Cua</span>
                </a>
              </li>
              <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
            </ul>
          </li>
        }
        <li
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
            <span>
              <fa-icon icon="users-cog"></fa-icon>
              <span jhiTranslate="global.menu.admin.main">Quản trị</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
            <li>
              <a
                class="dropdown-item"
                routerLink="/authority"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.adminAuthority">Authority</span>
              </a>
            </li>
            <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
            <li>
              <a class="dropdown-item" routerLink="/admin/gateway" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="road" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.gateway">Điều hướng</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.userManagement">Quản lý tài khoản</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.metrics">Số liệu</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.health">Tình trạng</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="cogs" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.configuration">Cấu hình</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.logs">Ghi logs</span>
              </a>
            </li>
            @if (openAPIEnabled) {
              <li>
                <a class="dropdown-item" routerLink="/admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                  <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.admin.apidocs">API</span>
                </a>
              </li>
            }
            @if (!inProduction) {
              <li>
                <a class="dropdown-item" href=" http://localhost:8092/ " target="_tab" (click)="collapseNavbar()">
                  <fa-icon icon="database" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.admin.database">Cơ sở dữ liệu</span>
                </a>
              </li>
            }
          </ul>
        </li>
        @if (languages && languages.length > 1) {
          <li ngbDropdown class="nav-item dropdown pointer" display="dynamic">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
              <span>
                <fa-icon icon="flag"></fa-icon>
                <span jhiTranslate="global.menu.language">Ngôn ngữ</span>
              </span>
            </a>
            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
              @for (language of languages; track $index) {
                <li>
                  <a
                    class="dropdown-item"
                    [jhiActiveMenu]="language"
                    href="javascript:void(0);"
                    (click)="changeLanguage(language); collapseNavbar()"
                    >{{ language | findLanguageFromKey }}</a
                  >
                </li>
              }
            </ul>
          </li>
        }
        <li
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" data-cy="accountMenu">
            @if (!account()?.imageUrl) {
              <span>
                <fa-icon icon="user"></fa-icon>
                <span jhiTranslate="global.menu.account.main">Tài khoản</span>
              </span>
            } @else {
              <span>
                <img [src]="account()!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
              </span>
            }
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
            @if (account() !== null) {
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/account/settings"
                  routerLinkActive="active"
                  (click)="collapseNavbar()"
                  data-cy="settings"
                >
                  <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.account.settings">Cài đặt</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/account/password"
                  routerLinkActive="active"
                  (click)="collapseNavbar()"
                  data-cy="passwordItem"
                >
                  <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.account.password">Mật khẩu</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
                  <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.account.logout">Đăng xuất</span>
                </a>
              </li>
            } @else {
              <li>
                <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
                  <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.account.login">Đăng nhập</span>
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/account/register"
                  routerLinkActive="active"
                  (click)="collapseNavbar()"
                  data-cy="register"
                >
                  <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.account.register">Đăng ký</span>
                </a>
              </li>
            }
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
