<div>
  <h2 id="page-heading" data-cy="HdTcMasterHeading">
    <span jhiTranslate="gatewayApp.hdTcMaster.home.title">Hd Tc Masters</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.hdTcMaster.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-hd-tc-master"
        [routerLink]="['/hd-tc-master/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.hdTcMaster.home.createLabel">Thêm mới một Hd Tc Master</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (hdTcMasters?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.hdTcMaster.home.notFound">No Hd Tc Masters found</span>
    </div>
  }

  @if (hdTcMasters && hdTcMasters.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idHopDong">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.idHopDong">Id Hop Dong</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ngayLapHd">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.ngayLapHd">Ngay Lap Hd</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nguoiLapHd">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.nguoiLapHd">Nguoi Lap Hd</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="thongTinDuongSu">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.thongTinDuongSu">Thong Tin Duong Su</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="thongTinTaiSan">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.thongTinTaiSan">Thong Tin Tai San</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="thongTinVanBan">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.thongTinVanBan">Thong Tin Van Ban</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="trangThai">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.trangThai">Trang Thai</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idLoaiHd">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.idLoaiHd">Id Loai Hd</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dieuKhoanHd">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.dieuKhoanHd">Dieu Khoan Hd</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idDonVi">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.idDonVi">Id Don Vi</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ngayThaoTac">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.ngayThaoTac">Ngay Thao Tac</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nguoiThaoTac">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.nguoiThaoTac">Nguoi Thao Tac</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idHdGoc">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.idHdGoc">Id Hd Goc</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="thongTinChuyenNhuong">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.thongTinChuyenNhuong">Thong Tin Chuyen Nhuong</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="maHopDong">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.maHopDong">Ma Hop Dong</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="srcHopDong">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.srcHopDong">Src Hop Dong</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ngayHen">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.ngayHen">Ngay Hen</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idSoCongChung">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.idSoCongChung">Id So Cong Chung</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="soCongChung">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.soCongChung">So Cong Chung</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="congChungVien">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.congChungVien">Cong Chung Vien</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ngayKyHd">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.ngayKyHd">Ngay Ky Hd</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nguoiRutTrich">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.nguoiRutTrich">Nguoi Rut Trich</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="soTienRutTrich">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.soTienRutTrich">So Tien Rut Trich</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ngayRutTrich">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.ngayRutTrich">Ngay Rut Trich</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hdThuCong">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.hdThuCong">Hd Thu Cong</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="trangThaiRutTrich">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.trangThaiRutTrich">Trang Thai Rut Trich</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="chuKyNgoaiTruSo">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.chuKyNgoaiTruSo">Chu Ky Ngoai Tru So</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="strSearch">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.strSearch">Str Search</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idMaster">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.idMaster">Id Master</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idHdSdHb">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.idHdSdHb">Id Hd Sd Hb</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="srcDmMaster">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.srcDmMaster">Src Dm Master</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="repRefUnique">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.hdTcMaster.repRefUnique">Rep Ref Unique</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (hdTcMaster of hdTcMasters; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/hd-tc-master', hdTcMaster.id, 'view']">{{ hdTcMaster.id }}</a>
              </td>
              <td>{{ hdTcMaster.idHopDong }}</td>
              <td>{{ hdTcMaster.ngayLapHd | formatMediumDate }}</td>
              <td>{{ hdTcMaster.nguoiLapHd }}</td>
              <td>{{ hdTcMaster.thongTinDuongSu }}</td>
              <td>{{ hdTcMaster.thongTinTaiSan }}</td>
              <td>{{ hdTcMaster.thongTinVanBan }}</td>
              <td>{{ hdTcMaster.trangThai }}</td>
              <td>{{ hdTcMaster.idLoaiHd }}</td>
              <td>{{ hdTcMaster.dieuKhoanHd }}</td>
              <td>{{ hdTcMaster.idDonVi }}</td>
              <td>{{ hdTcMaster.ngayThaoTac | formatMediumDate }}</td>
              <td>{{ hdTcMaster.nguoiThaoTac }}</td>
              <td>{{ hdTcMaster.idHdGoc }}</td>
              <td>{{ hdTcMaster.thongTinChuyenNhuong }}</td>
              <td>{{ hdTcMaster.maHopDong }}</td>
              <td>{{ hdTcMaster.srcHopDong }}</td>
              <td>{{ hdTcMaster.ngayHen | formatMediumDate }}</td>
              <td>{{ hdTcMaster.idSoCongChung }}</td>
              <td>{{ hdTcMaster.soCongChung }}</td>
              <td>{{ hdTcMaster.congChungVien }}</td>
              <td>{{ hdTcMaster.ngayKyHd | formatMediumDate }}</td>
              <td>{{ hdTcMaster.nguoiRutTrich }}</td>
              <td>{{ hdTcMaster.soTienRutTrich }}</td>
              <td>{{ hdTcMaster.ngayRutTrich | formatMediumDate }}</td>
              <td>{{ hdTcMaster.hdThuCong }}</td>
              <td>{{ hdTcMaster.trangThaiRutTrich }}</td>
              <td>{{ hdTcMaster.chuKyNgoaiTruSo }}</td>
              <td>{{ hdTcMaster.strSearch }}</td>
              <td>{{ hdTcMaster.idMaster }}</td>
              <td>{{ hdTcMaster.idHdSdHb }}</td>
              <td>{{ hdTcMaster.srcDmMaster }}</td>
              <td>{{ hdTcMaster.repRefUnique }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/hd-tc-master', hdTcMaster.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                  </a>

                  <a [routerLink]="['/hd-tc-master', hdTcMaster.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
                  </a>

                  <button type="submit" (click)="delete(hdTcMaster)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
