<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (thuaTach()) {
      <div>
        <h2 data-cy="thuaTachDetailsHeading"><span jhiTranslate="gatewayApp.thuaTach.detail.title">Thua Tach</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ thuaTach()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thuaTach.idThuaTach">Id Thua Tach</span></dt>
          <dd>
            <span>{{ thuaTach()!.idThuaTach }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thuaTach.idTaiSan">Id Tai San</span></dt>
          <dd>
            <span>{{ thuaTach()!.idTaiSan }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thuaTach.thongTinThuaTach">Thong Tin Thua Tach</span></dt>
          <dd>
            <span>{{ thuaTach()!.thongTinThuaTach }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thuaTach.trangThai">Trang Thai</span></dt>
          <dd>
            <span>{{ thuaTach()!.trangThai }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/thua-tach', thuaTach()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
