@if (logHoaDonDienTu) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(logHoaDonDienTu.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="logHoaDonDienTuDeleteDialogHeading" jhiTranslate="entity.delete.title">Xác nhận hành động xóa</h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p
        id="jhi-delete-logHoaDonDienTu-heading"
        jhiTranslate="gatewayApp.logHoaDonDienTu.delete.question"
        [translateValues]="{ id: logHoaDonDienTu.id }"
      >
        Bạn có chắc là muốn xóa Log Hoa Don Dien Tu {{ logHoaDonDienTu.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
      </button>

      <button id="jhi-confirm-delete-logHoaDonDienTu" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Xóa</span>
      </button>
    </div>
  </form>
}
