<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-hdcc-co-tien-heading" data-cy="HdccCoTienCreateUpdateHeading" jhiTranslate="gatewayApp.hdccCoTien.home.createOrEditLabel">
        Thêm mới hoặc cập nhật Hdcc Co Tien
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.hdccCoTien.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_idMaster" jhiTranslate="gatewayApp.hdccCoTien.idMaster">Id Master</label>
          <input type="number" class="form-control" name="idMaster" id="field_idMaster" data-cy="idMaster" formControlName="idMaster" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_soCongChung" jhiTranslate="gatewayApp.hdccCoTien.soCongChung">So Cong Chung</label>
          <input
            type="number"
            class="form-control"
            name="soCongChung"
            id="field_soCongChung"
            data-cy="soCongChung"
            formControlName="soCongChung"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_soTienRutTrich" jhiTranslate="gatewayApp.hdccCoTien.soTienRutTrich">So Tien Rut Trich</label>
          <input
            type="number"
            class="form-control"
            name="soTienRutTrich"
            id="field_soTienRutTrich"
            data-cy="soTienRutTrich"
            formControlName="soTienRutTrich"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
