<div>
  <h2 id="page-heading" data-cy="DanhMucQuocGiaHeading">
    <span jhiTranslate="gatewayApp.danhMucQuocGia.home.title">Danh Muc Quoc Gias</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.danhMucQuocGia.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-danh-muc-quoc-gia"
        [routerLink]="['/danh-muc-quoc-gia/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.danhMucQuocGia.home.createLabel">Thêm mới một Danh Muc Quoc Gia</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (danhMucQuocGias?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.danhMucQuocGia.home.notFound">No Danh Muc Quoc Gias found</span>
    </div>
  }

  @if (danhMucQuocGias && danhMucQuocGias.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idQuocGia">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.danhMucQuocGia.idQuocGia">Id Quoc Gia</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tenQuocGia">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.danhMucQuocGia.tenQuocGia">Ten Quoc Gia</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tenTiengAnh">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.danhMucQuocGia.tenTiengAnh">Ten Tieng Anh</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (danhMucQuocGia of danhMucQuocGias; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/danh-muc-quoc-gia', danhMucQuocGia.id, 'view']">{{ danhMucQuocGia.id }}</a>
              </td>
              <td>{{ danhMucQuocGia.idQuocGia }}</td>
              <td>{{ danhMucQuocGia.tenQuocGia }}</td>
              <td>{{ danhMucQuocGia.tenTiengAnh }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/danh-muc-quoc-gia', danhMucQuocGia.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                  </a>

                  <a
                    [routerLink]="['/danh-muc-quoc-gia', danhMucQuocGia.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
                  </a>

                  <button type="submit" (click)="delete(danhMucQuocGia)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
