@if (danhMucLoaiHopDong) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(danhMucLoaiHopDong.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="danhMucLoaiHopDongDeleteDialogHeading" jhiTranslate="entity.delete.title">Xác nhận hành động xóa</h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p
        id="jhi-delete-danhMucLoaiHopDong-heading"
        jhiTranslate="gatewayApp.danhMucLoaiHopDong.delete.question"
        [translateValues]="{ id: danhMucLoaiHopDong.id }"
      >
        Bạn có chắc là muốn xóa Danh Muc Loai Hop Dong {{ danhMucLoaiHopDong.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
      </button>

      <button id="jhi-confirm-delete-danhMucLoaiHopDong" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Xóa</span>
      </button>
    </div>
  </form>
}
