<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (tinhTrangDuongSu()) {
      <div>
        <h2 data-cy="tinhTrangDuongSuDetailsHeading">
          <span jhiTranslate="gatewayApp.tinhTrangDuongSu.detail.title">Tinh Trang Duong Su</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ tinhTrangDuongSu()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.tinhTrangDuongSu.idTinhTrang">Id Tinh Trang</span></dt>
          <dd>
            <span>{{ tinhTrangDuongSu()!.idTinhTrang }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.tinhTrangDuongSu.dienGiai">Dien Giai</span></dt>
          <dd>
            <span>{{ tinhTrangDuongSu()!.dienGiai }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.tinhTrangDuongSu.idLoaiDs">Id Loai Ds</span></dt>
          <dd>
            <span>{{ tinhTrangDuongSu()!.idLoaiDs }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/tinh-trang-duong-su', tinhTrangDuongSu()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
