<div>
  <h2 id="page-heading" data-cy="LoaiHopDongCongChungHeading">
    <span jhiTranslate="gatewayApp.loaiHopDongCongChung.home.title">Loai Hop Dong Cong Chungs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.loaiHopDongCongChung.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-loai-hop-dong-cong-chung"
        [routerLink]="['/loai-hop-dong-cong-chung/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.loaiHopDongCongChung.home.createLabel">Thêm mới một Loai Hop Dong Cong Chung</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (loaiHopDongCongChungs?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.loaiHopDongCongChung.home.notFound">No Loai Hop Dong Cong Chungs found</span>
    </div>
  }

  @if (loaiHopDongCongChungs && loaiHopDongCongChungs.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idLoaiHopDongCongChung">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.loaiHopDongCongChung.idLoaiHopDongCongChung">Id Loai Hop Dong Cong Chung</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dienGiai">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.loaiHopDongCongChung.dienGiai">Dien Giai</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="giaTri">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.loaiHopDongCongChung.giaTri">Gia Tri</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="trangThai">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.loaiHopDongCongChung.trangThai">Trang Thai</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (loaiHopDongCongChung of loaiHopDongCongChungs; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/loai-hop-dong-cong-chung', loaiHopDongCongChung.id, 'view']">{{ loaiHopDongCongChung.id }}</a>
              </td>
              <td>{{ loaiHopDongCongChung.idLoaiHopDongCongChung }}</td>
              <td>{{ loaiHopDongCongChung.dienGiai }}</td>
              <td>{{ loaiHopDongCongChung.giaTri }}</td>
              <td>{{ loaiHopDongCongChung.trangThai }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/loai-hop-dong-cong-chung', loaiHopDongCongChung.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                  </a>

                  <a
                    [routerLink]="['/loai-hop-dong-cong-chung', loaiHopDongCongChung.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
                  </a>

                  <button type="submit" (click)="delete(loaiHopDongCongChung)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
