<div>
  <h2 id="page-heading" data-cy="VanBanHeading">
    <span jhiTranslate="gatewayApp.vanBan.home.title">Van Bans</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.vanBan.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-van-ban"
        [routerLink]="['/van-ban/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.vanBan.home.createLabel">Thêm mới một Van Ban</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (vanBans?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.vanBan.home.notFound">No Van Bans found</span>
    </div>
  }

  @if (vanBans && vanBans.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idVanBan">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.vanBan.idVanBan">Id Van Ban</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dienGiai">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.vanBan.dienGiai">Dien Giai</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tenFile">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.vanBan.tenFile">Ten File</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="srcFile">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.vanBan.srcFile">Src File</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idLoaiVb">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.vanBan.idLoaiVb">Id Loai Vb</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="trangThai">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.vanBan.trangThai">Trang Thai</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ngayThaoTac">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.vanBan.ngayThaoTac">Ngay Thao Tac</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nguoiThaoTac">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.vanBan.nguoiThaoTac">Nguoi Thao Tac</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idDonVi">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.vanBan.idDonVi">Id Don Vi</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idVbGoc">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.vanBan.idVbGoc">Id Vb Goc</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (vanBan of vanBans; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/van-ban', vanBan.id, 'view']">{{ vanBan.id }}</a>
              </td>
              <td>{{ vanBan.idVanBan }}</td>
              <td>{{ vanBan.dienGiai }}</td>
              <td>{{ vanBan.tenFile }}</td>
              <td>{{ vanBan.srcFile }}</td>
              <td>{{ vanBan.idLoaiVb }}</td>
              <td>{{ vanBan.trangThai }}</td>
              <td>{{ vanBan.ngayThaoTac | formatMediumDate }}</td>
              <td>{{ vanBan.nguoiThaoTac }}</td>
              <td>{{ vanBan.idDonVi }}</td>
              <td>{{ vanBan.idVbGoc }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/van-ban', vanBan.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                  </a>

                  <a [routerLink]="['/van-ban', vanBan.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
                  </a>

                  <button type="submit" (click)="delete(vanBan)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
