<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1 jhiTranslate="reset.request.title">Đặt lại mật khẩu của bạn</h1>

      <jhi-alert-error></jhi-alert-error>

      @if (!success()) {
        <div class="alert alert-warning">
          <span jhiTranslate="reset.request.messages.info">Nhập địa chỉ email mà bạn đã sử dụng để đăng ký</span>
        </div>
        <form name="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
          <div class="mb-3">
            <label class="form-label" for="email" jhiTranslate="global.form.email.label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="{{ 'global.form.email.placeholder' | translate }}"
              formControlName="email"
              data-cy="emailResetPassword"
              #email
            />

            @if (
              resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)
            ) {
              <div>
                @if (resetRequestForm.get('email')?.errors?.required) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.email.required">Bạn phải nhập email.</small>
                }
                @if (resetRequestForm.get('email')?.errors?.email) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.email.invalid"
                    >Email bạn nhập không hợp lệ.</small
                  >
                }

                @if (resetRequestForm.get('email')?.errors?.minlength) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.email.minlength"
                    >Email phải có ít nhất 5 ký tự.</small
                  >
                }

                @if (resetRequestForm.get('email')?.errors?.maxlength) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.email.maxlength"
                    >Email không được vượt quá 50 ký tự.</small
                  >
                }
              </div>
            }
          </div>

          <button
            type="submit"
            [disabled]="resetRequestForm.invalid"
            class="btn btn-primary"
            data-cy="submit"
            jhiTranslate="reset.request.form.button"
          >
            Đặt lại mật khẩu
          </button>
        </form>
      } @else {
        <div class="alert alert-success">
          <span jhiTranslate="reset.request.messages.success"
            >Vui lòng kiểm tra hòm thư của bạn để xem chi tiết cách lấy lại mật khẩu.</span
          >
        </div>
      }
    </div>
  </div>
</div>
